.modal {
  position: absolute;
  box-sizing: border-box;
  padding: 2em;
  background: #cccccc;
  transform: scale(0);
  z-index: -777;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all;
}

.modal-show {
  z-index: 77;
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
  position: fixed;
  color: #000000;
  top: 205px;
  width: 800px;
  margin: 0 auto;
  left: 50%;
  margin-left: -400px;
  border-radius: 20px;
}
